*{
    margin: 0;
    padding: 0;
    font-family: "roboto", 'Courier New', Courier, monospace, 'system-ui';
    font-size: calc(0.5vh + 1rem);
}

.container{
    height: 100vh;
    display: grid;
    grid-template: 15% 15% 35% 35%/ 20% 55% 25%;
}

.container > div {
    padding: 1rem;
}

/* Sidebar css */
.sidebar{
    background-color: #e0115f;
    display: flex;
    flex-direction: column;
    gap: 100px;
    grid-area: 1 / 1 / 6 / 2;
}

.menu, .others{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.menu div, .others div {
    display: flex;
    color: white;
    column-gap: 10px;
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.flower_logo{
    height: 100px;
    width: 100px;
}

.icon{
    height: 40px;
    width: 40px;
    fill: white;
}

.logo-text{
    color: white;
    font-size: calc(0.5vh + 2rem);
}

/*nav css */
.nav-container{
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search, .account{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.profile{
    display: flex;
    align-items: center;
}

.nav-icon{
    height: 40px;
    width: 40px;
}





.greet-container{
    grid-area: 2 / 2 / 3 / 4;
}


/*projects css*/

.project-container{
    grid-area: 3 / 2 / 5 / 3;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.project-list{
    display: grid;
    grid-template: repeat(auto-fit,minmax(200px, 1fr)) / repeat(2,minmax(200px, 1fr));
    gap: 30px;
}

.card{
    background-color: white;
    height: 200px;
    padding: 1rem;
    border-left: 0.5rem solid pink;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/*announcements css*/

.announcements-container{
    grid-area: 3 / 3 / 4 / 4;
    background-color: #efefef;
}


/*trending css*/

.trending-container{
    grid-area: 4 / 3 / 5 / 4;
    background-color: #efefef;
}